<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">Purchases</h1>
  </div>

  <div class="row p-2">
    <mat-card class="col-md-4" routerLink="/employee-home/purchase-sales-tax">
      <div style="margin-left: 20%; padding: 5%">
        <img src="..\assets\heroicons-solid_receipt-tax.png" alt="" />
      </div>
      <h1 class="ml-5">Purchases Sales Tax</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/purchase-non-sales">
      <div style="margin-left: 20%; padding: 5%">
        <img src="..\assets\Group 337516.png" alt="" />
      </div>
      <h1 class="ml-5 mt-4">Purchases Non Tax</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/bank-payment">
      <div style="margin-left: 20%; padding: 5%">
        <img src="..\assets\dashicons_bank.png" alt="" />
      </div>
      <h1 style="margin-left: 20%">Bank Payment</h1>
    </mat-card>
  </div>
  <div class="row mt-5 p-2">
    <mat-card class="col-md-4" routerLink="/employee-home/cash-payment">
      <div style="margin-left: 20%; padding: 5%">
        <img src="..\assets\fa-solid_money-bill.png" alt="" />
      </div>
      <h1 style="margin-left: 20%">Cash Payment</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/purchase-order">
      <div style="margin-left: 20%; padding: 5%">
        <img src="..\assets\bxs_purchase-tag.png" alt="" />
      </div>
      <h1 style="margin-left: 20%">Purchase Order</h1>
    </mat-card>
    <mat-card class="col-md-4">
      <div
        style="margin-left: 20%; padding: 5%"
        routerLink="/employee-home/purchase-return"
      >
        <img src="..\assets\mdi_truck-delivery.png" alt="" />
      </div>
      <h1 style="margin-left: 20%">Purchase Return</h1>
    </mat-card>
  </div>
</div>
