<div class="container-fluid">
  <div class="row mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">
      Add Journal Voucher
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <mat-chip-list>
        <mat-chip color="basic" routerLink="/employee-home/adjustments"
          >Adjustments</mat-chip
        >
        /
        <mat-chip
          color="accent"
          selected
          routerLink="/employee-home/journal-voucher"
          >General Journal Voucher</mat-chip
        > /
        <mat-chip
          color="primary"
          selected
          >Add General Journal Voucher</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <form [formGroup]="this.addCashPettyForm">
      <div class="row mt-5">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Serial Number</mat-label>
            <input matInput formControlName="serialNumber" />
          </mat-form-field>
          <div
            *ngIf="
              addCashPettyForm.controls['serialNumber'].invalid &&
              (addCashPettyForm.controls['serialNumber'].dirty ||
                addCashPettyForm.controls['serialNumber'].touched)
            "
          >
            <mat-error
              *ngIf="
                addCashPettyForm.controls['serialNumber']?.errors?.required
              "
              >Serial Number is required</mat-error
            >
            <mat-error
              *ngIf="
                addCashPettyForm.controls['serialNumber']?.errors?.minlength ||
                addCashPettyForm.controls['serialNumber']?.errors?.maxlength
              "
              >Must be between 3 - 30 Characters</mat-error
            >
          </div>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="example-form-field w-100">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="datepicker1" #date required formControlName="paymentDate"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker1>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>
                  Apply
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cash Account</mat-label>
            <mat-select disableRipple>
              <mat-option
                *ngFor="let accountData of this.allAccounts; let i = index"
                [value]="accountData.accountCode"
                (click)="loadAccount(i)"
                >{{ accountData.accountCode }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Payment Type</mat-label>
            <input
              matInput
              readonly
              [value]="
                isAccountCodeLoaded
                  ? this.allAccounts[account_index]?.accountInfo
                  : ''
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account Type</mat-label>
            <mat-select disableRipple (selectionChange)="changeValue($event.value)">
              <mat-option value="Credit">Credit</mat-option>
              <mat-option value="Debit">Debit</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account Code</mat-label>
            <mat-select disableRipple>
              <mat-option
                *ngFor="let accountData of this.otherAccountData; let i = index"
                [value]="accountData.accountCode"
                (click)="loadPaidTo(i)"
                >{{ accountData.accountCode }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account Name</mat-label>
            <input
              matInput
              [value]="
                isPaidToLoaded
                  ? this.otherAccountData[paidTo_index]?.accountInfo
                  : ''
              "
              readonly
            />

          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Amount</mat-label>
            <input type="number" matInput formControlName="balance" />
          </mat-form-field>
          <div
            *ngIf="
              addCashPettyForm.controls['balance'].invalid &&
              (addCashPettyForm.controls['balance'].dirty ||
                addCashPettyForm.controls['balance'].touched)
            "
          >
            <mat-error
              *ngIf="addCashPettyForm.controls['balance']?.errors?.required"
              >Total Amount is required</mat-error
            >
            <mat-error
              *ngIf="
                addCashPettyForm.controls['balance']?.errors?.min ||
                addCashPettyForm.controls['balance']?.errors?.max
              "
              >Must be between 1 - 1000000 Characters</mat-error
            >
          </div>
        </div>
      </div>
      <div class="row p-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput rows="8" formControlName="description"></textarea>
        </mat-form-field>
        <div
          *ngIf="
            addCashPettyForm.controls['description'].invalid &&
            (addCashPettyForm.controls['description'].dirty ||
              addCashPettyForm.controls['description'].touched)
          "
        >
          <mat-error
            *ngIf="addCashPettyForm.controls['description']?.errors?.required"
            >Description is required</mat-error
          >
          <mat-error
            *ngIf="
              addCashPettyForm.controls['description']?.errors?.minlength ||
              addCashPettyForm.controls['description']?.errors?.maxlength
            "
            >Must be between 2 - 50 Characters</mat-error
          >
        </div>
      </div>
    </form>
    <div class="row mr-1" style="float: right">
      <button mat-button routerLink="/employee-home/customer-adjustment">Back</button>
      <button
        mat-button
        class="blueButton ml-2"
        [disabled]="this.addCashPettyForm.invalid || !isAccountCodeLoaded  || !isPaidToLoaded"
        (click)="addCashPetty(date.value)"
      >
        Add
      </button>
    </div>
  </div>
</div>
