<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">Journal Voucher</h1>
  </div>

  <div class="row">
    <div class="col-md-7">
      <mat-chip-list>
        <mat-chip color="basic" routerLink="/employee-home/adjustments"
          >Adjustments</mat-chip
        >
        /
        <mat-chip
          style="background-color: rgb(10, 116, 238); color: white"
          selected
          >General Journal Voucher</mat-chip
        >
      </mat-chip-list>
    </div>

    <div class="col-md-4 offset-md-1">
      <button mat-raised-button class="basic" (click)="routeToAddVoucher()">
        Add Adjustments
      </button>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <div class="row mt-5">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Serial Number</mat-label>
                <mat-select disableRipple>
                  <mat-option
                    *ngFor="
                      let journalData of this.allJournalVoucher;
                      let i = index
                    "
                    [value]="journalData.serialNumber"
                    (click)="loadjournalVoucher(i)"
                    >{{ journalData.serialNumber }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field
                appearance="outline"
                class="example-form-field w-100"
              >
                <mat-label>Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="datepicker1"
                  readonly
                  [value]="
                    isJournalLoaded
                      ? this.allJournalVoucher[journal_index]?.paymentDate
                      : ''
                  "
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="datepicker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker1>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDatepickerApply
                    >
                      Apply
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="mat-elevation-z8 container-fluid p-2 mt-5">
      <button
        [disabled]="!this.disablePrint"
        mat-stroked-button
        class="mb-2"
        style="float: right"
        (click)="printReceipt('MyDIv')"
      >
        Print
      </button>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- fullName Column -->
        <ng-container matColumnDef="accountCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Account Code
          </th>
          <td mat-cell *matCellDef="let row">{{ row.accountCode }}</td>
        </ng-container>

        <!-- position Column -->
        <ng-container matColumnDef="accountName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Paid To
          </th>
          <td mat-cell *matCellDef="let row">{{ row.paidToCode }}</td>
        </ng-container>
        <ng-container matColumnDef="types">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Type
          </th>
          <td mat-cell *matCellDef="let row">{{ row.types }}</td>
        </ng-container>

        <!-- department Column -->
        <ng-container matColumnDef="description">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Description
          </th>
          <td mat-cell *matCellDef="let row">{{ row.paymentDescription }}</td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Amount
          </th>
          <td mat-cell *matCellDef="let row">{{ row.grossAmount }}</td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="delete">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Delete
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-icon class="material-symbols-outlined" (click)="onDelete(i)"> delete </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="blueButton"
          >
            Edit
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-icon class="material-symbols-outlined" (click)="onEdit(i)">
              edit
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>

  <!-- class="positioned"  -->
  <div id="MyDIv" class="positioned">
    <div class="container">
      <div class="row" style="background-color: rgb(50, 120, 226)">
        <div class="col-md-6">
          <h1 class="mt-5" style="font-size: 30px;color:#ffff" >GENERAL JOURNAL VOUCHER</h1>
        </div>

        <div class="col-md-3 mt-3">
          <ul class="colorWhite">
            +92-3334556767
          </ul>
          <ul class="colorWhite">
            mianb@gmail.com
          </ul>
          <ul class="colorWhite">
            G.S.T Regn. No: 1234-5678
          </ul>
        </div>
        <div class="col-md-3 mt-2">
          <ul class="colorWhite">
            Mian Brothers Company (Pvt) Ltd
          </ul>
          <ul class="colorWhite">
            Suit no. 10 Tower Heights
          </ul>
          <ul class="colorWhite">
            Lahore,Pakistan
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 p-3">
          <div class="row">
            <h3>Serial No.</h3>
            &nbsp;&nbsp;&nbsp;
            <h3>{{  isJournalLoaded
              ? this.allJournalVoucher[journal_index]?.serialNumber
              : ''}}</h3>
          </div>
          <div class="row">
            <h3>Date</h3>
            &nbsp;&nbsp;&nbsp;
            <h3>{{  isJournalLoaded
              ? (this.allJournalVoucher[journal_index]?.paymentDate | date : 'medium')
              : ''}}</h3>
          </div>
          <!-- <div class="row">
            <h3>Quantity:</h3>
            &nbsp;&nbsp;&nbsp;
            <h3>{{  isOrderDataLoaded
              ? this.allOrdersData[order_index]?.quantity
              : ''}}</h3>
          </div> -->
      </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12" id="htmlData">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- fullName Column -->
            <ng-container matColumnDef="accountCode">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                Account Code
              </th>
              <td mat-cell *matCellDef="let row">{{ row.accountCode }}</td>
            </ng-container>

            <!-- position Column -->
            <ng-container matColumnDef="accountName">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                Paid To
              </th>
              <td mat-cell *matCellDef="let row">{{ row.paidToCode }}</td>
            </ng-container>
            <ng-container matColumnDef="types">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                Type
              </th>
              <td mat-cell *matCellDef="let row">{{ row.types }}</td>
            </ng-container>

            <!-- department Column -->
            <ng-container matColumnDef="description">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                Description
              </th>
              <td mat-cell *matCellDef="let row">{{ row.paymentDescription }}</td>
            </ng-container>

            <ng-container matColumnDef="debit">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                Amount
              </th>
              <td mat-cell *matCellDef="let row">{{ row.grossAmount }}</td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="delete">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >
                            </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-icon class="material-symbols-outlined" ></mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="blueButton"
              >

              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-icon class="material-symbols-outlined" >

                </mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <h5 style="color:rgb(10, 116, 238)">Authorized Signature</h5>
        _______________
        <br>
      </div>
    </div>
  </div>
</div>
