<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">Cash Petty Payment</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <mat-chip-list>
        <mat-chip color="basic" routerLink="/employee-home/purchases">Purchase</mat-chip> /
        <mat-chip color="primary" selected>Cash Petty Payment</mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="basic" routerLink="/employee-home/add-cash-petty">Add Cash Petty Payment</button>
    </div>

    <div class="container-fluid p-3 mt-5">
      <div class="row">
        <div class="col-md-6">
          <mat-card>
            <div class="row mt-5">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Serial Number</mat-label>
                  <mat-select disableRipple>

                    <mat-option *ngFor="let bankData of this.cashPettyPaymentTable; let i = index"
                        [value]="bankData.serialNumber" (click)="loadCashPayment(i)">{{bankData.serialNumber}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-form-field w-100">
                  <mat-label>Date</mat-label>
                  <input  readonly matInput [matDatepicker]="datepicker1" [value]="isCashLoaded ? this.cashPettyPaymentTable[cash_index]?.paymentDate : ''">
                  <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker1>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea readonly matInput rows="8" [value]="isCashLoaded ? this.cashPettyPaymentTable[cash_index]?.paymentDescription: ''"></textarea>
                </mat-form-field>
              </div>
            </div>

          </mat-card>

        </div>
        <div class="col-md-6">
          <mat-card>
            <div class="row p-3">
              <mat-form-field appearance="outline">
                <mat-label>Cash Account</mat-label>
                <input readonly matInput [value]="isCashLoaded ? this.cashPettyPaymentTable[cash_index]?.accountCode : ''" />

              </mat-form-field>
              <mat-form-field appearance="outline" class="ml-2" style="width:63.5%">
                <mat-label>Account No</mat-label>
                <input readonly matInput [value]="isCashLoaded ? this.cashPettyPaymentTable[cash_index]?.accountInfo : ''" />
              </mat-form-field>
            </div>

          </mat-card>
        </div>
      </div>
      <div class="row mt-5" style="justify-content: center;">
      <button mat-raised-button class="ml-2 greenButton" routerLink="/employee-home/cash-payment">Cash Payment</button>
      </div>
      <button
        [disabled]="!this.disablePrint"
        mat-stroked-button
        class="mb-2"
        style="float: right"
        (click)="printReceipt('MyDIv')"
      >
        Print
      </button>
      <div class="mat-elevation-z8 container-fluid p-2 mt-5">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- fullName Column -->
          <ng-container matColumnDef="accountCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Account Code </th>
            <td mat-cell *matCellDef="let row"> {{row.accountCode}} </td>
          </ng-container>

          <!-- position Column -->
          <ng-container matColumnDef="accountInfo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Paid To </th>
            <td mat-cell *matCellDef="let row"> {{row.paidToInfo}} </td>
          </ng-container>

          <!-- department Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.paymentDescription}} </td>
          </ng-container>
          <ng-container matColumnDef="amountPaid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Amount Paid </th>
            <td mat-cell *matCellDef="let row"> {{row.amountPaid}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton">Delete</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <mat-icon class="material-symbols-outlined" (click)="onDelete(i)">
                delete
              </mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton">Edit</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <mat-icon class="material-symbols-outlined" (click)="onEdit(i)">
                edit
              </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> -->
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>



  <div id="MyDIv" class="positioned">
    <div class="container">
      <div class="row" style="background-color: rgb(50, 120, 226)">
        <div class="col-md-6">
          <h1 class="mt-5" style="font-size: 30px; color: #ffff">PAYMENT NOTE</h1>
        </div>

        <div class="col-md-3 mt-3">
          <ul class="colorWhite">
            +92-3334556767
          </ul>
          <ul class="colorWhite">
            mianb@gmail.com
          </ul>
          <ul class="colorWhite">
            G.S.T Regn. No: 1234-5678
          </ul>
        </div>
        <div class="col-md-3 mt-2">
          <ul class="colorWhite">
            Mian Brothers Company (Pvt) Ltd
          </ul>
          <ul class="colorWhite">
            Suit no. 10 Tower Heights
          </ul>
          <ul class="colorWhite">
            Lahore,Pakistan
          </ul>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4" class="p-2">
            <div class="row">
              <h3>P.O.NO.</h3>
              &nbsp;&nbsp;&nbsp;
              <h3>
                {{
                  isCashLoaded
                    ? this.cashPettyPaymentTable[cash_index]?.serialNumber
                    : ""
                }}
              </h3>
            </div>
            <div class="row">
              <h3>P.O.Date</h3>
              &nbsp;&nbsp;&nbsp;
              <h3>
                {{
                  isCashLoaded
                    ? (this.cashPettyPaymentTable[cash_index]?.paymentDate
                      | date : "medium")
                    : ""
                }}
              </h3>
            </div>
            <div class="row">
              <h4>Payment Type:</h4>
              &nbsp;&nbsp;&nbsp;
              <h5>
                {{
                  isCashLoaded
                    ? (this.cashPettyPaymentTable[cash_index].paymentDate
                      | date : "medium")
                    : ""
                }}
              </h5>
            </div>
            <div class="row">
              <h4>Cheque No:</h4>
              &nbsp;&nbsp;&nbsp;
              <h5>
                {{
                  isCashLoaded
                    ? this.cashPettyPaymentTable[cash_index].chequeNumber
                    : ""
                }}
              </h5>
            </div>
            <div class="row">
              <h4>Dated:</h4>
              &nbsp;&nbsp;&nbsp;
              <h5>
                {{
                  isCashLoaded
                    ? (this.cashPettyPaymentTable[cash_index].createdDate
                      | date : "medium")
                    : ""
                }}
              </h5>
            </div>
            <div class="row">
              <h4>Drawn On:</h4>
              &nbsp;&nbsp;
              <h4>
                {{
                  isCashLoaded
                    ? this.cashPettyPaymentTable[cash_index]?.accountInfo
                    : ""
                }}
              </h4>
            </div>
          </div>

        </div>
          <div class="row mt-5">
            <div class="col-md-12" id="htmlData">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- fullName Column -->
                <ng-container matColumnDef="accountCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Account Code </th>
                  <td mat-cell *matCellDef="let row"> {{row.accountCode}} </td>
                </ng-container>

                <!-- position Column -->
                <ng-container matColumnDef="accountInfo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Paid To </th>
                  <td mat-cell *matCellDef="let row"> {{row.paidToInfo}} </td>
                </ng-container>

                <!-- department Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Description </th>
                  <td mat-cell *matCellDef="let row"> {{row.paymentDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="amountPaid">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"> Amount Paid </th>
                  <td mat-cell *matCellDef="let row"> {{row.amountPaid}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"></th>
                  <td mat-cell *matCellDef="let row; let i = index">

                  </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="blueButton"></th>
                  <td mat-cell *matCellDef="let row; let i = index">

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <!-- <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
              </table>
            </div>
          </div>
          <div class="row mt-2">
            <h3 class="colorBlue">Description</h3>
            &nbsp;&nbsp;&nbsp;
            <h3>
              {{
                isCashLoaded
                  ? this.cashPettyPaymentTable[cash_index]?.paymentDescription
                  : ""
              }}
            </h3>
          </div>
          <div class="row mt-3">
            <h5 style="color: rgb(10, 116, 238)">Authorized Signature</h5>
            _______________
            <br />
          </div>
      </div>
    </div>

</div>
