<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">Adjustments</h1>
  </div>

  <div class="row p-3">
    <mat-card class="col-md-5 offset-md-1" routerLink="/employee-home/journal-voucher">
      <div class="row" style="margin-left: 40%;">
        <img src="..\assets\openmoji_ledger.png" alt="">
      </div>
      <h1 style="margin-left: 25%;">General Journal Voucher</h1>
    </mat-card>
    <mat-card class="col-md-5" routerLink="/employee-home/customer-adjustment">
      <div style="margin-left: 40%;">
        <img src="..\assets\raphael_customer.png" alt="">
      </div>
      <h1 style="margin-left: 28%;margin-top:2.5%">Customer Adjustment</h1>
    </mat-card>
  </div>

</div>
