<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading">Gate Pass</h1>
  </div>

  <div class="row p-2">
    <mat-card class="col-md-4 offset-md-2" routerLink="/inventory-dashboard/inward">
      <div style="margin-left: 40%;" >
        <img src="..\assets\Vector.png" alt="">
      </div>
      <h1 style="margin-left: 25%;">Inward Gate Pass</h1>
    </mat-card>
    <mat-card class="col-md-4 ml-4" routerLink="/inventory-dashboard/outward">
      <div style="margin-left: 40%;" >
        <img src="..\assets\Vector (1).png" alt="">
      </div>
      <h1 style="margin-left: 25%;">Outward Gate Pass</h1>
    </mat-card>
  </div>
</div>
