<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 headingMain">Dashboard</h1>
  </div>


  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-4">
        <mat-card class="example-card p-4">
          <mat-card-title>Cash & Banks</mat-card-title>
          <mat-card-content class="mt-5">
            <h4>Balance</h4>
            <h1 class="price">Rs. 468,340</h1>
          </mat-card-content>
          <mat-card-content class="mt-3">
            <h4>Sales</h4>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Opening Balance</div>
              <div class="col-md-4">Rs. 468,340</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Receipts</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Payments</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Current Balance</div>
              <div class="col-md-4 price">Rs. 468,340</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="example-card p-4">
          <mat-card-title>Cash & Banks</mat-card-title>
          <mat-card-content class="mt-5">
            <h4>Balance</h4>
            <h1 class="price">Rs. 468,340</h1>
          </mat-card-content>
          <mat-card-content class="mt-3">
            <h4>Sales</h4>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Opening Balance</div>
              <div class="col-md-4">Rs. 468,340</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Receipts</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Payments</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Current Balance</div>
              <div class="col-md-4 price">Rs. 468,340</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="example-card p-4">
          <mat-card-title>Cash & Banks</mat-card-title>
          <mat-card-content class="mt-5">
            <h4>Balance</h4>
            <h1 class="price">Rs. 468,340</h1>
          </mat-card-content>
          <mat-card-content class="mt-3">
            <h4>Sales</h4>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Opening Balance</div>
              <div class="col-md-4">Rs. 468,340</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Receipts</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-9">Payments</div>
              <div class="col-md-2 redText">NIL</div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">Current Balance</div>
              <div class="col-md-4 price">Rs. 468,340</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>
