

<div class="container-fluid">
  <div class="row p-2 mt-5">
    <h1 class="align-items-center ml-3 heading headingMain">Sales</h1>
  </div>

  <div class="row p-2">
    <mat-card class="col-md-4"  routerLink="/employee-home/sales-tax-invoices">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\heroicons-solid_receipt-tax.png" alt="">
      </div>
      <h1 class="ml-5">Sales Tax Invoices</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/sales-non-tax-invoices">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\Group 337516.png" alt="">
      </div>
      <h1  class="ml-5 mt-4">Sales Non Tax Invoices</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/bank-customer-receipt">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\dashicons_bank.png" alt="">
      </div>
      <h1  style="margin-left: 20%;">Bank Receipt</h1>
    </mat-card>
  </div>
  <div class="row mt-5 p-2">
    <mat-card class="col-md-4"  routerLink="/employee-home/cash-receipt-customer">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\fa-solid_money-bill.png" alt="">
      </div>
      <h1 style="margin-left: 20%;">Cash Receipt</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/sales-order">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\bxs_purchase-tag.png" alt="">
      </div>
      <h1  style="margin-left: 20%;">Sales Order</h1>
    </mat-card>
    <mat-card class="col-md-4" routerLink="/employee-home/delivery-challan">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\mdi_truck-delivery.png" alt="">
      </div>
      <h1  style="margin-left: 20%;"  >Delivery Challan</h1>
    </mat-card>
  </div>
  <div class="row mt-5 p-2">
    <mat-card class="col-md-4" routerLink="/employee-home/sale-returns">
      <div style="margin-left: 20%; padding: 5%;">
        <img src="..\assets\ic_sharp-assignment-return.png" alt="">
      </div>
      <h1  style="margin-left: 20%;"  >Sale Returns</h1>
    </mat-card>
  </div>
</div>
